# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Operating-system files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/